body {
  background-image: url("./img/background.jpg");
}

h1 {
  font-style: italic;
}

.center {
  text-align: center;
}

.textcolor {
  color: aquamarine;
}

a {
  color: aquamarine;
}

.alcentro {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.leftmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("./img/menubackground.png");
  background-repeat: no-repeat;
  padding: 1em;
  width: 238px;
  height: 239px;
  border: solid;
  border: thick double aquamarine;
  margin: 1% 2%;
}

.lileftmenu {
  margin: 30% 0;
}

#menuborde {
  padding: 20px 80px 20px;
}

#top {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#top td, #top th {
  border: 1px solid #ddd;
  padding: 8px;
}

#top tr {
  background-color: #ddd;
  padding-top: 12px;
  padding-bottom: 12px;
}

#top th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: aquamarine;
  color: black;
}

.form {
  background-color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 0;
  width: 238px;
  height: 200px;
  margin-left: 820px;
}

ul {
  list-style: none;
  font-size: 0;
  /* truco por el uso de inline-block*/
}

ul ul {
  position: absolute;
  display: none;
}

ul ul li {
  display: block;
}

ul li:hover ul {
  display: block;
}

li {
  display: inline-block;
  width: 8%;
  position: relative;
  font-size: 14px;
}

img {
  max-width: 100%;
}

.slider-container {
  height: 100%;
  width: 95%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 .2em 1em;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-transition: left 0s .75s;
  transition: left 0s .75s;
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  -webkit-transition: left .65s ease-out;
  transition: left .65s ease-out;
}

.slide-1 {
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/587/550/452/firewatch-video-game-art-minimalism-simple-hd-wallpaper-preview.jpg");
}

.slide-2 {
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/645/355/633/video-games-video-game-art-digital-art-genshin-impact-mask-hd-wallpaper-preview.jpg");
}

.slide-3 {
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/864/806/346/minimalism-digital-art-simple-cat-wallpaper-preview.jpg");
}

@media screen and (min-width: 320px) {
  #grilla {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 100px 100px 200px 100px;
        grid-template-rows: 100px 100px 200px 100px;
    -webkit-column-gap: 150px;
            column-gap: 150px;
    row-gap: 200px;
        grid-template-areas: "header" "nav" "contenido" "footer";
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
  nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav;
  }
  section {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: contenido;
  }
  footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: footer;
  }
  .espacio1 {
    padding: 5%;
  }
}

@media screen and (min-width: 1200px) {
  #grilla {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% auto 15%;
        grid-template-columns: 20% auto 15%;
    -ms-grid-rows: 100px 400px 75px;
        grid-template-rows: 100px 400px 75px;
    -webkit-column-gap: 150px;
            column-gap: 150px;
    row-gap: 200px;
        grid-template-areas: "header header header" "nav contenido contenido" "footer footer footer";
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header;
  }
  nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav;
  }
  section {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: contenido;
  }
  footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
  }
  #burger {
    display: none;
  }
  .espacio1 {
    padding: 0%;
  }
  .espacio2 {
    padding: 1%;
  }
}
/*# sourceMappingURL=style.css.map */