.leftmenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image : map-get($background, "leftmenu" );
    background-repeat: no-repeat;
    padding: 1em;
    width: 238px;
    height: 239px;
    border:solid;
    border: thick double map-get($colores, "leftmenu" );
    margin: 1% 2%;
}


.lileftmenu {
    margin: 30% 0;
}