h1{
    font-style: italic
}    
ul {
    list-style: none;
    font-size:0; /* truco por el uso de inline-block*/
    ul{
        position: absolute;
        display: none;

        li{
            display: block;
        }
    }
    li:hover ul{
        display:block;
    }
 }
 li {
    display: inline-block;
    width: 8%;
    position:relative;
    font-size: 14px
 }
