$colores: (
    "aqua": aquamarine,
    "leftmenu": black
);

$background: (
    "global": url('../img/background.jpg'),
    "leftmenu": url("../img/menubackground.png")
);

$slider: (
    "slider1": url('../img/slider1.jpg'),
    "slider2": url("../img/slider2.jpg"),
    "slider3": url("../img/slider3.jpg")
);